* {
  box-sizing: border-box;
}
/* For mobile phones: */
[class*="col-"] {
	float: left;
	padding: 15px;
  	width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1px;
	color: #FFFFFF;

	background: linear-gradient(#2b303b 70%, #1de2e2 230%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
	font-size: 3em;
	margin-right: 2em;
	margin-bottom: 0;
	max-width: 800px;
}

h2 {
	color: #1db1e2;
}

h3 {
	color: #75bed7;
}

p {
	font-family: 'Sarabun', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	line-height: 1.5;
	color: #e6e6e6;
	//margin-top: 0.1em;
}

span {
	color: #1de2e2;
}

header {
	overflow: hidden;
	padding: 1em 7em;
}

header a {
	text-align: center;
	color: #FFFFFF;
}

ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0.5em 0;
}

li {
	float: left;
	line-height: 1em;
	padding: 0 1.5em;
}

a {
	color: #1de2e2;
	text-decoration: none;
}

a:hover {
	color: #1de2e2;
}

a:active {
	color: #1de2e2;
}

.logo {
	float: left;
	font-size: 2em;
	line-height: 1em;
}

.header-right {
	float: right;
}

.title-section {
	margin: auto;
	padding: 0 1em;
	max-width: 875px;
}

.body-section {
	margin: auto;
	padding: 0 1em;
	max-width: 875px;
}