#main_body{
	background-color: #111111;
	width: 100%;
	height: 100%;

}

#console {
	color: white;
	text-align: left;
	text-decoration: none;
	font-family: 'Monaco', monospace;
	font-size: 12pt;
	font-weight: normal;
}

.start_sequence {
	color: white;
	text-align: left;
	text-decoration: none;
	font-family: 'Monaco', monospace;
	font-size: 12pt;
	font-weight: normal;


}

/* unvisited link */
a:link {
    color: #40b6d1;
}

/* visited link */
a:visited {
    color: #40b6d1;
}

/* mouse over link */
a:hover {
    color: #40b6d1;
}

/* selected link */
a:active {
    color: #40b6d1;
}