body {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: #5c748a;
}

h1 {
	color: #ffffff;
}

h2 {
	color: #ffffff;
}

h3 {
	color: #ffffff;
}

p {
	color: #ffffff;
	font-size: 1.2em;
}

a {
	color: #00ccff;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

.logo {
	font-size: 3em;
	color: #ffffff;
}

.logo:hover {
	color: #00ccff;
}

.reverse-link {
	color: #ffffff;
}

.reverse-link:hover {
	color: #00ccff;
}

.card-deck .card {
  min-width: 220px;
}

.card-body {
	background-color: #73808c;
}

.card-date {
	color: #00ccff;
	font-size: 0.8em;
}

.heading-text {
	margin: auto;
	max-width: 700px;
}

.post-img {
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 75%;
	hight: auto;
}

.post-video {
	margin-top: 15px;
	margin-bottom: 15px;
}